.login-container {
  background-color: #FFF;
  max-width: 500px;
  padding: 30px;
  width: 70vw;
}

.login-container h1 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 18px 0;
}

.login-form {
  display: flex;
  justify-content: space-between;
}