.vending-machine-card {
  /* border: 1px solid #dfdfdf; */
  background-color: #FFF;
  border-left: 5px solid rgb(0, 181, 228);
  width: 70vw;
  max-width: 500px;
  padding: 30px;
  margin: 0 12px 12px 12px;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.05);
  transition: all .3s ease;
}

.vending-machine-card:hover {
  box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.1);
}

.header-row {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: .6em;
  margin-bottom: 12px;
}

.header-row h1 {
  margin: 0;
}

.machine-attributes {
  display: flex;
  justify-content: flex-start;
}